[2015-12-11 21:07] anthonysuen opened #1 "ALL connectors - Getting in touch with Chris Holdgraf"

[2015-12-13 17:38] choldgraf commented on #1
hey everybody - in case you'd like get in touch you can ping me on here, or send an email to choldgraf@berkeley.edu

[2015-12-13 23:07] SamLau95 commented on #1
If it's easier for you @choldgraf it's trivial to set up a Gitter room for this repo for faster response.

[2015-12-13 23:08] choldgraf commented on #1
I'll use whatever works best for others.

[2015-12-14 17:55] cboettig opened #2 "Private vs Public repos for connector instructors?"
@anthonysuen, @papajohn : Do you know if the dsten organization has the capacity to offer private repositories for connector instructors?  Following the strategy of the core course, private repositories seem better suited for making exercises and the like available to other DS8 instructors without tempting students not to do their own work.

As an intermediate solution, instructors could host thei

[2015-12-14 18:28] papajohn commented on #2
Yes, we can set up private repos. If individuals want their own, that's
fine with me, but I'd rather not pre-create one per instructor when most
won't use them. The fewer repos the better.

On Mon, Dec 14, 2015 at 9:55 AM, Carl Boettiger notifications@github.com
wrote:

[2015-12-14 18:54] cboettig commented on #2
@papajohn Thanks.  It looks like @anthonysuen has already created a repo for many of the connectors; so I was just wondering if we'd discussed if those were most useful as public or private repos.

Having not-too-many repos in the org account certainly makes things cleaner.  I suppose connector repos could all be created in a separate org account if that's an option.

If we are getting lots of con

[2015-12-15 00:41] cboettig opened #3 "How do students submit (jupyter notebook) assignments?"
What is the proposed workflow for students to submit Jupyter Notebooks?  (It's not actually clear to me how to download a notebook from https://ds8.berkeley.edu and email it; so far I've relied on git to move work off https://ds8.berkeley.edu).

I think the ideal might for instructors to be able to log in to https://ds8.berkeley.edu _as an instructor_ and thus see their working directory be popula

[2015-12-15 01:10] ryanlovett commented on #3
Hi Carl,

Fall used the "ok" autograder. There's some info here:
- http://data8.org/resources.html
- https://pypi.python.org/pypi/okpy
- https://github.com/Cal-CS-61A-Staff/ok/
- https://okpy.org

It integrates with ds8
https://github.com/dsten/jupyterhub-deploy/blob/master/roles/singleuser/files/Dockerfile#L23-L28
via
a notebook extension https://github.com/dsten/notebook-ok-extension. John
et al

[2015-12-15 06:01] cboettig commented on #3
Thanks Ryan!  However I don't think any _connectors_ use the automatic
grader; my impression is that most connector instructors don't need that
scale (being <= 30 students mostly), and besides would be more focused on
the kinds of questions that cannot be graded that way (after all, the
foundation course is doing most of the teaching of the python coding for
us).

So I still think we need a viable

[2015-12-16 21:56] choldgraf commented on #1
Hi @dsten/instructors (esp @cboettig ) - a few people mentioned some confusion about the `Table` object that was created for the course. There's isn't any documentation out there on how to use it, so I wrote a quick reference guide on how to do things with a Table. It's modeled after the "10 minutes to pandas" tutorial, though it doesn't assume anything Pandas-specific.

Link: [10 minutes to table

[2015-12-16 22:28] SamLau95 commented on #1
There is also the datascience API documentation at
http://data8.org/datascience/ — this should be linked to in the README in
the datascience repo but isn't. The tutorial isn't written as of yet but
the reference section is helpful.
On Wed, Dec 16, 2015 at 2:17 PM Chris Holdgraf notifications@github.com
wrote:

[2015-12-17 00:27] cboettig commented on #1
@choldgraf @SamLau95 Thanks, this is quite helpful.

Yes, the official documentation is quite handy too, but it's rather terse.  For instance, `Table.where` is documented as:

[code]

Which could leave some of us a bit confused on the use of inequalities & when to use a column or a label.  Of course this one covered quite nicely in the textbook, but the docs might benefit from some minimal example

[2015-12-17 00:34] deculler commented on #1
And there are several tutorial notebooks.

David E. Culler
Friesen Professor of Computer Science
Electrical Engineering and Computer Sciences
University of California, Berkeley

On Wed, Dec 16, 2015 at 2:53 PM, Sam Lau notifications@github.com wrote:

[2015-12-17 01:00] choldgraf commented on #1
Thanks for the link @SamLau95, I'm going to add it to the top of the `10 minutes` notebook. @cboettig and I spent some time trying to find comprehensive and quick tutorials but couldn't find one, which is why I wrote this. Apologies if it's replicating something else that's out there, but I am more than happy to contribute to the main repository if people find it useful.

[2015-12-17 01:50] SamLau95 commented on #1
No, this is very helpful — writing a full tutorial is at the top of our
TODO list but no one has taken it on yet.
https://github.com/dsten/datascience/issues/150

On Wed, Dec 16, 2015 at 5:00 PM Chris Holdgraf notifications@github.com
wrote:

[2015-12-17 01:53] ryanlovett commented on #3
There is currently only one way of doing so which is to SSH to the jupyterhub host directly. GSIs used that method to push out assignments.

User kernels only have access to ~/ within the Hub environment so instructors' single user servers can't see anyone else's home data. From an instructor's perspective, I can see that it would desirable to browse through students' homes, the same way one does

[2015-12-17 01:58] choldgraf commented on #1
Cool. Well, let me know if there's a way I can change the formatting of this document to either be complimentary to a full tutorial or to contribute material to the tutorial itself.

[2015-12-17 06:06] SamLau95 commented on #1
If you make changes to the [tutorial.rst](https://github.com/dsten/datascience/blob/master/docs/tutorial.rst) file they'll automatically get pulled onto the online docs when it gets merged into master. You can see https://github.com/dsten/datascience/pull/111/files for a start.

Alternatively, you can keep working on the notebook and I can pull in the text into the file. Let me know what you'd pre

[2015-12-17 17:27] choldgraf commented on #1
ah ok cool - I'll take a look at the .rst file and see how easy it would be
to transfer over what's there now for a tutorial. Maybe I'll keep
developing the notebook, and then we can decide when it's good enough and
I'll transfer to the text file. Sounds good?

On Wed, Dec 16, 2015 at 10:06 PM, Sam Lau notifications@github.com wrote:

[2015-12-17 17:47] cboettig commented on #3
@ryanlovett Right, and having connector instructors ssh in sounds really messy/risky. My thinking was that an admin person (or script) running on the host would automatically copy the working directories of all users in a connector into subdirectories of that connector's instructor.  (Ideally the instructor would also then have a "student" account, as @deculler suggested, so they can see what stud

[2015-12-17 18:46] SamLau95 commented on #1
Yup, great. Thanks!

On Thu, Dec 17, 2015, 9:27 AM Chris Holdgraf notifications@github.com
wrote:

[2015-12-17 19:25] ryanlovett opened #4 "Instructor test accounts"
@deculler and @cboettig (in #3)  have both expressed an interest in being able to have non-admin accounts on JupyterHub for testing the student experience. Here are a couple of ways that might find their way into documentation:
1. A [SPA](https://berkeley.service-now.com/kb_view.do?sysparm_article=KB0010719).
   - Instructor needs to manually delete the account after the semester
2. A [CalNet gues

[2015-12-17 20:31] anthonysuen commented on #2
These are great points @cboettig:

1) I do think by next semester we need to figure out how to deal with the ever growing list of repos. Not sure about the practices since I don't know many universities that runs on our foundational course, connector model.
2) Perhaps we could just make the all connector repos private? I am not sure having both a private and public repos for one connector make sen

[2015-12-17 20:35] anthonysuen commented on #3
@cboettig Thanks for question! I think we should clearly document the workflow for the other connectors who are still trying to figure things out. Would be happy to write up something. I believe Yang Xu's cognitive science course is interested in using an autograde, but I am not sure he is aware of the solution employed in DS8.

[2015-12-17 20:35] choldgraf commented on #2
@cboettig can you make a fork of a repo private? I wonder if you could set up public connector repos on the dsten account. Then fork that, make it private, and use PRs to pull in updated content to the main class.

[2015-12-17 20:39] anthonysuen commented on #4
Thanks @ryanlovett ! Has anyone started a writing a workflow for the connectors yet? Ideally it should align with what documentation DS8 has already. Could someone link to me to the workflow documentation for DS8?

[2015-12-17 20:39] choldgraf commented on #2
Alternatively you could just keep it public and assume that students won't go to visit it in general. Can't you look at repository traffic statistics for visits etc? Maybe you can use that to infer whether students are peeking

[2015-12-17 22:06] cboettig commented on #4
@ryanlovett Thanks for bringing this up as an issue.

Correct me if I'm wrong, but I think the account I currently have on ds8.berkeley.edu is essentially a 'student' account already, right? i.e. it gives me no elevated privileges over a student, and is automatically populated with material in the same way that students are?  Or is there a difference in how it behaves?

The SPA route does seem lik

[2015-12-17 22:15] cboettig commented on #2
@anthonysuen My suggestions would be:
1. Name each connector repository with the course number, since those are registered, predictable and unique values that mean something to everyone.
2. Make connector repositories private by default.
3. If @papajohn & the other dsten foundation core team prefer keeping the dsten github org slim, then we should consider all connectors under a separate connector

[2015-12-17 22:25] choldgraf commented on #2
I'm +1 for that to see how it goes. I doubt a ton of instructors will do all of this (at least this first round) so maybe it won't get too cluttered. If this becomes a success story for how to organize the connectors, then perhaps it'll be worth thinking about scaling that upwards at that point.

[2015-12-17 22:29] cboettig commented on #2
@choldgraf that makes sense to me to. Right, connector instructors will no doubt continue to do a wide variety of things (bcourses etc), and many might have no use for GitHub repos anyhow. @anthonysuen I think you were intending to create repos for instructors anyhow, if only to create communication channels via issues tracker?  Given that John is wary of having too many repos, maybe that strategy

[2015-12-17 22:49] ryanlovett commented on #4
@anthonysuen I'm not aware of any documentation for connector instructors and ds8 other than this repo, https://github.com/dsten/connector-instructors. I'd be happy to discuss it. I think it makes sense to start from any feedback from this past semesters' instructors and GSIs and port it into tips and docs for this semester. Items I'd anticipate people will want:
- Adding students
- Publishing not

[2016-01-13 00:43] anthonysuen opened #5 "Outreach for Connectors"
Ensure connector courses are getting filled.

[2016-01-14 19:24] anthonysuen commented on #2
Sorry for the delay in responding. I think this raises a lot of interesting quetsions. Right now I am actually in the process of setting up connector web pages within the data8.org domain which might make long term migration to a seperate organization more difficult. The goal of the repos are not only for communication, but also to commit code and serve as the web infrastructure for the connector

[2016-01-14 19:29] cboettig commented on #2
@anthonysuen I think we can work around the technical stuff if we know what we want, though I agree it makes things more complicated.

For instance, if John and others really would prefer connectors on a separate org, we can set that org up with CNAME `connector.data8.org`.  But yeah, I agree it's all simpler if connectors stay here but want to make sure we're all happy with that (particularly tho

[2016-01-17 18:45] SamLau95 commented on #4
@ryanlovett @cboettig @anthonysuen

I believe I [outline a workflow](https://github.com/data-8/connector-instructors#workflow) in the readme for this repo. Is that what you're looking for?

In terms of distributing files to students, we are now transitioning to [the interact links](https://github.com/data-8/connector-instructors#distributing-notebooks) for all content instead of `ssh`ing into the

[2016-01-18 02:02] ryanlovett commented on #4
Sam, that workflow has /dsten/ repos. Just pointing that out in case you
intend to transition to /data-8/.

Regarding having instructors add students: if they're going to do so can
you please document that they need to obtain their students' official @
berkeley.edu addresses. The username is the part before the '@'. We can do
this in batch if we had GSI-level access to the bcourse. You'd create an

[2016-01-18 02:50] deculler commented on #4
Sam,
   This looks great.  I read through the workflow.  It seems clear as
bell.  I'll throw a notebook into my first lab just to try it out.

David E. Culler
Friesen Professor of Computer Science
Electrical Engineering and Computer Sciences
University of California, Berkeley

On Sun, Jan 17, 2016 at 10:45 AM, Sam Lau notifications@github.com wrote:

[2016-01-19 16:44] pattyf opened #6 "https://data8.berkeley.edu/ returns a 403 error"
I'm following the directions for connector instructors for creating a new jupyter notebook and the url
https://data8.berkeley.edu/ returns a 403 error page.

[2016-01-19 16:49] pattyf opened #7 "Add more instructions about creating notebooks to Getting Started as a connector instructor doc."
I don't think the instructions for notebooks addresses the following:
1) how to upload data with a new notebook

2) this workflow: clone notebook > edit repo locally > merge changes to master > merge changes to gh-pages. When I tried this I get the following:

dlab-patty:geospatial_connector2 patty$ git push origin gh-pages
ERROR: Permission to data-8/geospatial-connector.git denied to pattyf.
fat

[2016-01-19 16:56] pattyf opened #8 "Instructions for adding and testing new python modules needed"
If I submit a new notebook for my connector and it has one or more modules that are not used by the foundation course I need to know if/when these get installed so that I can test my notebook on the remote hub.  I cannot use the jupyter notebook hub environment if I cannot get these modules installed  a week before I distribute an assignment so that I can test it. What is the process for ensuring

[2016-01-19 19:37] ryanlovett commented on #8
In terms of procedure and policy I'll defer to @papajohn.

But I think it would be good to create a new issue and attach your notebook to it. We'll try to integrate any additional libraries that your notebook specifies. The more lead time we have the better.

When we do update the single user server with new software, it requires that students stop and start their server.

[2016-01-19 20:24] papajohn commented on #8
I like Ryan's plan of creating an issue. Ryan will be the central point of
contact for adding new modules.

On Tue, Jan 19, 2016 at 11:37 AM, Ryan Lovett notifications@github.com
wrote:

[2016-01-19 23:22] cboettig opened #9 "`interact` mechanism should support private repositories"
The idea here is based on discussion with @SamLau95 in gitter.

It would be nice to have a mechanism by which connector instructors can distribute notebooks & data to the Jupyter servers without it being public.

The current workflow outlined in this repo to use the `interact` URLs assumes that the repository is public, and also assumes that it should clone the branch named `gh-pages`, even though

[2016-01-20 00:46] choldgraf commented on #6
I believe this might be a problem with adding new users to the new data8 vs. the old ds8. What's your berkeley.edu address and I'll try to add you

[2016-01-20 00:49] choldgraf opened #10 "Creating an instructor FAQ"
This is a place to start compiling a list of Frequently Asked Questions for current and future instructors. Feel free to submit ideas and I'll update the main list in this first post.

[2016-01-20 05:27] SamLau95 commented on #7
You're right about 1. I'll add a note.

For 2, you have to accept your Github invitation to join the `data-8` org. It looks like your invitation is still pending. You can try poking around here or looking through your email for something from Github.

[2016-01-20 05:29] SamLau95 commented on #6
Everyone was running into this earlier today; we think we've fixed it. @pattyf can you confirm that you can log in?

[2016-01-20 05:32] SamLau95 commented on #2
We're going to go with defaulting to a private repo for connectors, but not until #9 gets implemented.

Until then, we're going to have one private repo and one public repo per connector. (Students pull from the public one.)

[2016-01-20 05:33] choldgraf commented on #6
If it was a 4xx error there's a chance it was still just a missing username, no? The server problem was a 5xx error

[2016-01-20 05:38] SamLau95 commented on #3
@cboettig I think the easiest way is to have students export their completed notebooks as a PDF file which they can then submit to your bCourses (a Dropbox might also work).

This requires no extra setup on your part except to teach students how to submit. bCourses also has a PDF annotating system you can use to mark assignments although it's unintuitive to use.

We're having students export labs

[2016-01-20 05:38] papajohn commented on #2
We could wait until a connector instructor actually requests a private one
before creating it, just to maintain a bit of order.

On Tue, Jan 19, 2016 at 9:32 PM, Sam Lau notifications@github.com wrote:

[2016-01-20 05:40] SamLau95 commented on #6
Ah, you're right. I just added you to the system @pattyf . Sorry 'bout that.

[2016-01-20 05:42] SamLau95 commented on #2
Agreed.
ᐧ

On Tue, Jan 19, 2016 at 9:39 PM, John DeNero notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley | May 2017
(562) 565-4336 | samlau95@berkeley.edu

[2016-01-20 05:47] cboettig commented on #2
In which case, perhaps the [docs](https://github.com/data-8/connector-instructors/blob/master/README.md) should inform connector instructors that they will need to request a repository before they can follow the rest of the instructions (and specify who the point of contact is for that), otherwise we may have more confusion?

Likewise we should probably add something to the docs telling connector

[2016-01-20 05:53] cboettig commented on #3
Great suggestion, I'll give that a try.  Think we can close this since it's now in the connector docs as well.

[2016-01-20 05:53] #3 closed

[2016-01-20 06:04] choldgraf commented on #2
That sounds like a good suggestion, FYI I've created an Issue for keeping track of common gotchas / problems / questions. Check out #10 and feel free to add any thoughts.

[2016-01-20 07:10] #2 closed

[2016-01-20 07:10] #7 closed

[2016-01-20 17:11] pattyf commented on #6
Yes, I can see it. Thanks much.

[2016-01-20 19:49] #6 closed

[2016-01-20 19:51] choldgraf opened #11 ""resetting" modified notebooks"
Right now it's not simple for people to go back to square one on their notebooks. Several instructors mentioned that it would be useful to be able to pull a fresh copy of a notebook / directory / etc in case they mess something up or want to start anew.

Right now, things behave weirdly when you delete / rename / etc a file and then click on the "interact" links again. I think we should come to a

[2016-01-20 19:52] #1 closed

[2016-01-20 20:07] choldgraf opened #12 "Permissions errors in repos"
Michael Mahoney (not currently a user in this repo so I can't link him) ran into problems after he tried some renaming and moving of files in order to pull fresh copies (see #11). Now he's getting permissions errors and is unable to delete some files in his repository.

@SamLau95 any ideas?

[2016-01-20 21:13] deculler commented on #4
https://teaching.berkeley.edu/resources-faculty-new-berkeley

David E. Culler
Friesen Professor of Computer Science
Electrical Engineering and Computer Sciences
University of California, Berkeley

[2016-01-20 22:42] SamLau95 commented on #12
@choldgraf I think this should be resolved. I'm guessing that him moving files around cause the git checkout to error out without `chown`ing the directories properly. I need to add a catch for that.

[2016-01-20 22:47] SamLau95 commented on #11
Another easy way to get the original for now is to just link to the notebook on Github. Eg. I'm working on lab1 and I mess up. I can look at/download https://github.com/data-8/data8assets/blob/master/labs/lab01/lab01.ipynb

This works nicely even for private repos since they can access files at data8.org. Eg. http://data8.org/data8assets/labs/lab01/lab01.ipynb

Thoughts on this?

[2016-01-20 22:55] cboettig commented on #12
Hmm.. doesn't look solved for me?

e.g. I just used @AndrejGitHub 's link, https://data8.berkeley.edu/hub/interact?repo=history-connector&path=07423-0001-Data.csv, which works great and imports his data file into Jupyter.

Now I cannot actually delete it from my Jupyter environment; I just get a permission denied error.

[2016-01-20 22:59] SamLau95 commented on #12
Ah, there is in fact a bug. Looking into it now.
ᐧ

On Wed, Jan 20, 2016 at 2:55 PM, Carl Boettiger notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley | May 2017
(562) 565-4336 | samlau95@berkeley.edu
ᐧ

[2016-01-20 23:00] cboettig commented on #12
Note that when a the `interact` link clones a repo, the repo ends up being owned by `root`, not the by the user.  The contents of the repo show up as being owned by the user, but with read only permission, so we cannot delete these files.  Thanks for all the help!

[2016-01-20 23:05] cboettig commented on #11
@SamLau95 Good point.  I think that is definitely good as a reference to just look at, but less good as a strategy to actually get back to square 1 in general.  (e.g. looking at the GitHub page, most of my students wouldn't know how to download the file -- there's no 'download' button (some might end up downloading the whole repo instead).  And manually uploading doesn't scale nicely if we're talk

[2016-01-20 23:07] SamLau95 commented on #12
Yup. The error is in https://github.com/data-8/DS8-Interact/blob/master/app/util.py#L9 since I change the ownership of the file to that of the parent directory (which belongs to root).

[2016-01-21 02:09] choldgraf commented on #12
Let me know when this is pulled and I'll let Michael know to give it a shot again...

[2016-01-21 02:20] SamLau95 commented on #12
It's deployed on both ds8 and data8 I believe. Let me know if he's still
running into issues. I didn't test the sparse-checkout behavior thoroughly
on file moving and renaming so I make no guarantees about behavior at the
moment.
ᐧ

On Wed, Jan 20, 2016 at 6:09 PM, Chris Holdgraf notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley | May 2017
(562) 565-4336 | samlau95@berkeley.edu

[2016-01-21 05:28] #11 closed

[2016-01-21 05:31] cboettig commented on #12
hmm, just tested on data8 and when I use https://data8.berkeley.edu/hub/interact?repo=health-connector&path=Demo2.ipynb

I get `health-connector` repo added but still owned by root, and I cannot delete either `health-connector` directory or the `Demo2.ipynb` notebook.

[2016-01-21 05:33] SamLau95 commented on #12
Oops. Looking now.
ᐧ

[2016-01-21 05:54] SamLau95 commented on #12
Fixed. There were some issues in deploying and I forgot to get around to them.

This and #11 are now closed, so hopefully the interact links will be good to go for us.

[2016-01-21 06:00] #12 closed

[2016-01-22 03:48] #9 closed

[2016-01-22 03:50] SamLau95 commented on #9
This functionality will be enabled soon; I'm pushing to the servers tonight. Then, you can gives students links for private repos that will pull from the `gh-pages` branch.

[2016-01-22 05:18] AndrejGitHub opened #13 "Error with uploading csv table"
Dear all;

I encountered the following error, while trying to import a csv file, the basis for a notebook. The material is posted below, and thank you for any suggestions,

Andrej

/1/ I got to my tree: https://data8.berkeley.edu/user/andrej/notebooks/history-connector/Hello-Andrej.ipynb

/2/ and typed in the code, as before:

from datascience import Table
import matplotlib.pyplot as plots
plots.s

[2016-01-22 05:36] SamLau95 commented on #9
This is now pushed to ds8 and data8. You may use private repos as well as public ones when constructing interact links. As usual, the `gh-pages` branch is the one that needs to have the files you want to give out.

For example, for the `ecology-connector` repo, you can give students a link that looks like:

[code]

[2016-01-22 05:41] SamLau95 commented on #13
You should just use:

[code]

The reason why it's breaking right now is that the Table isn't able to
access https://data8.berkeley.edu/user/andrej/edit/history-connector/07423-0001-Data.csv
by default. Try opening an incognito window and hitting https://data8.berkeley.edu/user/andrej/edit/history-connector/07423-0001-Data.csv.
Because you have to log in, Table.read_table can't read it properly.

Y

[2016-01-22 08:50] AndrejGitHub commented on #13
Thank you all! The code worked -- a miracle!

data = Table.read_table('07423-0001-Data.csv')
data

Thank you all again, and a cautionary note would make sense,

Andrej

[2016-01-22 08:50] #13 closed

[2016-01-22 09:10] SamLau95 commented on #13
My pleasure! Do note that the code above is dependent on where the files
are.

data = Table.read_table('07423-0001-Data.csv')

means: find the file named '07423-0001-Data.csv' in _my current directory_
and then read it in as a Table. If you move '07423-0001-Data.csv' to a
different folder, that line will break. It won't break if you move both the
notebook and the dataset to a different folder.

As

[2016-01-22 20:09] choldgraf opened #14 "403 errors when connector instructors push to their repositories"
Some instructors are running into errors when they try to push to their repositories. After they add their username and password, it's returning a 403 permission denied error. I know this has happened for at least:
*username* | *connector name* | *notes*
@mahoneymw | stat89A
@annalauren | ethics-connector | (who also needs to be added to this repo)

Will append new names as they pop up. This will

[2016-01-22 20:25] choldgraf opened #15 "Clicking interact buttons sometimes clones the whole repository"
A few people mentioned that clicking interact links was copying over whole repositories (or at least whole director structures).

I just tried this myself and wasn't able to replicate the problem (clicking interact with a single file in root director, a single file embedded in a folder, and a single folder). So not really sure whether this is a bug or not, but maybe I missed something.

I'm openin

[2016-01-22 21:15] SamLau95 commented on #14
Yup, should be fixed now. I forgot to add the instructors Github team to
the stat89 repo. I made a pass through the other connector repos and it
looks like the instructors team is now added.
ᐧ

On Fri, Jan 22, 2016 at 12:09 PM, Chris Holdgraf notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley | May 2017
(562) 565-4336 | samlau95@berkeley.edu

[2016-01-22 21:26] SamLau95 commented on #15
I think this happens when the repo that you're trying to pull either:
1. doesn't have a gh-pages branch, or
2. doesn't have the file/folder you specified on the gh-pages branch.

I can't replicate the issue though, so I can't say for certain.
ᐧ

On Fri, Jan 22, 2016 at 12:25 PM, Chris Holdgraf notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley | May 2017
(562) 565-4336 | samlau95@berk

[2016-01-22 22:11] choldgraf commented on #14
sounds good, I'll close this unless somebody else complains about it

[2016-01-22 22:11] #14 closed

[2016-01-23 01:58] deculler commented on #15
It happens with the readme link in mail earlier to me.  Also the example in
cs-connector/index.html
On Jan 22, 2016 1:26 PM, "Sam Lau" notifications@github.com wrote:

[2016-01-23 04:28] choldgraf commented on #15
hmmm, I just tried going to the cs-connector repo to replicate but it looks
like index.html and the blank.ipynb file have been removed.

On Fri, Jan 22, 2016 at 5:58 PM, David Culler notifications@github.com
wrote:

[2016-01-23 06:55] anthonysuen commented on #10
Chris where are you compiling the FAQ?

[2016-01-23 06:56] anthonysuen commented on #10
@choldgraf Curious if it would be published on website or remain on github

[2016-01-23 16:56] deculler commented on #15
You are probably on master branch.  They are on gh-pages.

This may be part of the issue.  What branch of the repo does interact pull
from?

On a separate note, is there any reason the autoload is limited to a repo?
Seems like an accessible URL for an ipynb would also be useful to pull into
the environment.
On Jan 22, 2016 8:28 PM, "Chris Holdgraf" notifications@github.com wrote:

[2016-01-23 18:09] choldgraf commented on #15
Ah you're right, I missed that. I just tried clicking the interact button,
and it only pulled the `blank.ipynb` into my repo. It looks like it pulled
from the gh-pages branch (as that's the branch that's active when you do a
`git status` from the command line)

On Sat, Jan 23, 2016 at 8:56 AM, David Culler notifications@github.com
wrote:

[2016-01-23 21:27] deculler commented on #15
I did the test of having the file in master and/or gh-pages.  Either way
you end up with a notebook open on the repo directory rather than the
notebook file.

Is that the intended behavior?  It seems useful in some cases.  But so is
the behavior in the textbook.
On Jan 23, 2016 10:09 AM, "Chris Holdgraf" notifications@github.com wrote:

[2016-01-23 22:09] choldgraf commented on #10
It'll get compiled here, we should add Q/As as they come in, and maybe in a session where we look through previous issues and communications to compile them together. Re: website or github, I'm happy with either. I think it depends on how we decide to store the documentation for this project in general.

[2016-01-24 00:53] deculler commented on #10
Github wiki might be good
On Jan 22, 2016 11:14 PM, "anthonysuen" notifications@github.com wrote:

[2016-01-24 00:54] choldgraf commented on #10
Sounds good to me - we can start building up a set of information on the wiki. Just need to make sure that the information that's up there is OK to be public (I believe connector-instructors is a public repo but correct if I'm wrong)

[2016-01-24 01:08] SamLau95 commented on #15
The interact server is configured right now to redirect to the repo root
since that was the easiest thing to do when I implemented the functionality
for the first time. I'll make changes so that the last `path` URL param is
where the user is redirected on a successful pull.

On Sat, Jan 23, 2016 at 1:27 PM David Culler notifications@github.com
wrote:

[2016-01-24 01:15] SamLau95 opened #16 "Redirect directly to specified path when pulling from Github"
Right now, hitting a url like:

    https://data8.berkeley.edu/hub/interact?repo=data8assets&path=labs/lab01

Results in the student being redirected to the root of the repo: `data8assets`.

Instead, it'd be more convenient if the student were redirected to the path given in the URL: `data8assets/labs/lab01`.

Since you can specify multiple values for `path` in the URL, eg.

    https://data8.berk

[2016-01-24 06:32] #16 closed

[2016-01-24 13:46] deculler commented on #16
Works beautifully for me.  Thanks Sam.

[2016-01-26 00:31] SamLau95 commented on #15
Looks like this issue is fixed. It was occurring because the interact server assumes `git clone` will clone the `gh-pages` branch. This is true for most connector repos but not in general.

Now it explicitly clones from the `gh-pages` branch so it'll error out for repos without the branch instead of cloning everything.

[2016-01-26 00:31] #15 closed

[2016-01-26 20:45] mads14 opened #18 "Students with 503 Proxy Target Missing/500 Internal Server Error"
Hi,

A few students in the smart cities connector class got errors when trying to use data8.org. There usernames are:

503 Proxy Target Missing:
wangandai

500 Internal Server Error:
satish.vinay
igormartire

Can you look into these for me and see if you can reset the accounts? In the future is there a way I can fix this myself?

Best,
Maddie (Smart cities connector GSI)

[2016-01-27 06:44] SamLau95 commented on #18
Pinging @ryanlovett for this. We're looking into these as well as other cases.

Do you have any viable workarounds at the moment?

[2016-01-27 06:59] ryanlovett commented on #18
Sorry for the wait. I fixed Satish's earlier in the day. Am looking into
the other two now.

Ryan

On Tue, Jan 26, 2016 at 10:44 PM, Sam Lau notifications@github.com wrote:

[2016-01-27 07:39] ryanlovett commented on #18
It seems that the the internal state of the hub can differ from the state
in the db. For example my server was not running anywhere, it did not exist
in the database, but the running jupyterhub process thought it was running.
Supposedly this should not happen
https://github.com/jupyter/jupyterhub/issues/109. I'm restarting the hub
process now which unfortunately temporarily stops the process.

Rya

[2016-01-27 09:01] ryanlovett commented on #18
Unfortunately jupyterhub is failing to start. A jupyterhub commit on 1/20
https://github.com/jupyter/jupyterhub/commit/1a4226419f0ecdceec98c26d8c4525cd3bb04b82#diff-3254677a7917c6c01f55212f86c57fbf
is
incompatible with what we have in our Dockerfile. The jupyterhub builds on
hub.docker.com are untagged
https://github.com/jupyter/docker-stacks/issues/105 so we can't go
backwards. I'm working on for

[2016-01-27 10:56] ryanlovett commented on #18
We are back to where we were before this evenings troubles.

I was able to start igormartire's server without trouble.

wangandai did fail to start. I did the following to get it going:

[code]

[2016-01-27 16:27] mads14 commented on #18
Thanks for your help! In the future should I create a new issue if anyone has the same 500/503 errors or should I try to restart them myself?

[2016-01-27 18:35] ryanlovett commented on #18
Yes, please do both. Create a new issue so that we can track them, but also
attempt to restart them yourself.

Ryan

On Wed, Jan 27, 2016 at 8:27 AM, mads14 notifications@github.com wrote:

[2016-01-27 21:55] mads14 commented on #18
Hey Ryan, now my account (m.sheehan) is giving the server 500 error. I'm not sure that I know how to fix it - I tried briefly to no avail.

[2016-01-28 19:30] choldgraf opened #19 "Students who are in a connector course but not in Data8"
A few instructors are trying to figure out what to do with students who aren't in data8, but who want to take the connector courses. Right now, this seems to fall into 3 categories of people:

1. People who took data8 before, but want to take another connector course
2. People who have previous computational skills (e.g., 61A) but who don't want to take data8
3. People who are interested in the co

[2016-01-28 19:36] choldgraf commented on #18
I just looked at the logs and it seems like m.sheehan has a running server. Last seen 18 mins ago. Has this issue been resolved by any chance?

[2016-01-28 19:44] mads14 commented on #18
Yup, mine is working again. And I haven't had any complaints from students recently, so I think it's all good.

Thanks!
Maddie

[2016-01-28 19:51] choldgraf commented on #18
cool! feel free to close the issue whenever you think this is taken care of :)

[2016-01-28 19:51] choldgraf commented on #5
Is this sort of an ongoing thing throughout the semester, or is this finished?

[2016-01-28 19:53] choldgraf commented on #8
Hey all - is Ryan's response going to be the party line on how to deal with adding new modules? If so I can add it to the Readme and then I'll close this...

[2016-01-28 19:57] #18 closed

[2016-01-28 20:30] ryanlovett commented on #8
Yes, thanks Chris.

[2016-01-28 22:45] pattyf opened #20 "Links to locations of demo notebooks"
Could we add to the instructions for connector instructors the links to example notebooks that we can look to for reference? I know they are in github somewhere and I apologize for not remembering. If there are several good directories to look in then several links please!

[2016-01-28 23:31] choldgraf opened #21 "Getting info about what data8 will cover week to week"
A number of connector instructors have noted that they need more information about the main course / the materials covered in order to design their own connector materials. I asked the GSI team about this, and here is their response:

potentially of interest for @AndrejGitHub and @pattyf, and maybe @cboettig

[2016-01-28 23:39] choldgraf commented on #4
hey all - is this issue taken care of? If so I will close...

[2016-01-29 19:22] choldgraf commented on #19
So the general rule here is that there aren't going to be any "official" course resources for teaching people python/notebook/etc skills if they aren't enrolled in the main data 8 course. If instructors get requests from students who want to take their connector without being enrolled in data 8, we'd suggest that you.

A. Remind them that the main course is a pre/co-requisite for any connector. (a

[2016-01-29 19:26] choldgraf commented on #20
There's a brief mention of this in the Readme file but it's kind of hidden in there. I'll create a more clear section for it. Search for "example notebooks" in the repo. Does what's there look sufficient, or are you thinking of something more?

[2016-01-29 19:41] choldgraf commented on #10
I've added a section on this to the repository readme, we should add new FAQ questions there

[2016-01-29 19:41] #10 closed

[2016-01-29 19:41] #19 closed

[2016-01-29 19:41] choldgraf commented on #19
Added some information on this to the FAQ in the repository readme

[2016-01-29 19:42] choldgraf commented on #8
OK, added this to the readme in the FAQ section

[2016-01-29 19:42] #8 closed

[2016-01-29 19:42] choldgraf commented on #21
Added a section about this to the readme

[2016-01-29 19:42] #21 closed

[2016-01-29 20:02] cboettig opened #22 "Suggestion for README & FAQ"
A few suggestions that might improve readability / organization.  Consider:
- [ ] Adding a (linked) table of contents to the README.md
- [ ] Breaking the FAQ out into a separate FAQ.md doc in the repo, and just linking it from the README?

[2016-01-29 21:56] pattyf commented on #20
I found the most helpful notebooks here:
https://github.com/data-8/textbook/tree/gh-pages/notebooks

That link is not under Example Notebooks. Could someone at it?  The
textbook link under Example Notebooks doesn't work (but there is another
link further down on the page).
Thanks! @pattyf

On Fri, Jan 29, 2016 at 11:26 AM, Chris Holdgraf notifications@github.com
wrote:

##

Patty Frontiera
Academi

[2016-01-29 22:29] choldgraf commented on #20
Good find @pattyf, I'm swapping out the textbook link with the github link that you just sent, I think that's better as well. Let me know if you think this issue can be closed.

[2016-01-29 22:31] pattyf commented on #20
looks great. thanks. i think you can close it.

On Fri, Jan 29, 2016 at 2:29 PM, Chris Holdgraf notifications@github.com
wrote:

##

Patty Frontiera
Academic Coordinator
D-Lab, _Supporting Data Intensive Social Science for All_
356 Barrows Hall, University of California Berkeley
http://dlab.berkeley.edu

[2016-01-29 22:34] choldgraf commented on #20
great!

[2016-01-29 22:34] #20 closed

[2016-01-29 22:34] choldgraf commented on #20
(and thanks for your help)

[2016-01-29 22:55] pattyf opened #23 "Please install osgeo and geopy libraries for the geospatial connector"
@Ryan and team, please install the following libraries for the geospaital connector. I would like to distribute an exercise based on these libraries in February (2/22). Attaching a notebook with dataset to show how they will be used.  Thanks!

The first cell in the notebook shows the libraries that I am using:
from geopy.distance import vincenty
from osgeo import ogr, osr, gdal
import json

[dist_

[2016-01-30 22:38] choldgraf opened #24 "Students getting 503 errors when accessing notebooks"
This was reported by @mahoneymw, who has said that a number of students are getting `503: Proxy target missing` errors. Perhaps @ryanlovett has an idea what might be going wrong?

[2016-01-31 05:26] mahoneymw commented on #24
If this is not fixed by Mon AM, then is it possible to have a Plan B.  I teach Mon PM, and I would like to be able to tell the students how to get this---ideally during class, so we can spend some time going over it.

[2016-01-31 05:38] choldgraf commented on #24
I'm getting the same errors when using the links that @mahoneymw provided. I also tried another few interact links and I'm also getting the error there. These links return a 503 error for me:

On the stat89a repo:

https://data8.berkeley.edu/hub/interact?repo=stat89a&path=helloword.ipynb

and on another repo:

https://data8.berkeley.edu/hub/interact?repo=health-connector&path=Demo2.ipynb

pinging

[2016-01-31 06:29] elaine84 commented on #24
@choldgraf @mahoneymw @ryanlovett @SamLau95 actually I can't see anything on data.berkeley.edu though I am logged in with my user account.  I am logged into the course website at data8.org but get the same 503 error when I try to access e.g., https://data8.berkeley.edu/user/elaine/tree or click on any lab notebooks through the main course website

[2016-01-31 06:38] choldgraf commented on #24
@SamLau95 mentioned in an email that he has had students run into this problem before as well. Apparently there is some kind of problem with the interact links when the user's server isn't running. His solution was to go to the "Admin" page of his data8 instance, and manually hit "start server" for that user. After that it worked. If the user's session was listed as running, he said to stop, then

[2016-01-31 07:02] ryanlovett commented on #24
Yes, at the moment students need to start their own server before attempting to import files via interact. Documented at https://github.com/data-8/jupyterhub-deploy/issues/12.

One solution is to have interact start the server prior to importing files and redirecting. Another option is to have the hub start the server when it detect that the user's server isn't running.

In the near term, until we

[2016-01-31 07:04] choldgraf commented on #24
So in debugging this I tried to start my own server the normal way, and it was giving me the same error. The only way I fixed it was by manually starting my server via the admin page. This is the first time that's happened to me, so maybe it's something changed on the backend?

[2016-01-31 07:11] elaine84 commented on #24
I just had the same problem @choldgraf described -- same error when I click on "Start My Server"

[2016-01-31 07:13] choldgraf commented on #24
replication! I feel oddly vindicated...

On Sat, Jan 30, 2016 at 11:11 PM, elaine84 notifications@github.com wrote:

[2016-01-31 07:17] ryanlovett commented on #24
Okay, not great obviously, but a good opportunity to test.

Can you please delete your data8 browser cookies? In Chrome this would be
Settings, type "cookie" in the search field, click Content Settings, Click
All Cookies and Site Data, type "data8" in the search field, then click the
X on the right side of the entry for data8 to delete the browser data.

After doing so, visit data8.berkeley.edu an

[2016-01-31 07:26] choldgraf commented on #24
I just did all of that and it works fine. But again I was only able to
create this problem one time and haven't been able to re-create it since
then.

On Sat, Jan 30, 2016 at 11:17 PM, Ryan Lovett notifications@github.com
wrote:

[2016-01-31 14:15] elaine84 commented on #24
I haven't restarted my server through the admin page, and clearing the data8 cookies doesn't seem to work for me.  I've tried variants of this where I log out / log in again and quit / restart my (Chrome) browser.

[2016-01-31 19:07] deculler commented on #24
I had to restart server
On Jan 31, 2016 6:15 AM, "elaine84" notifications@github.com wrote:

[2016-02-03 19:53] anthonysuen opened #25 "Enable recursive folder removal"
One use case is that I might want to remove rather than rename it and then re-download the lab folder.  I.e., a different use case people might want is if they mess up a notebook is to remove it and then reclick on the link via the main class page to get a new notebook.  But, right now, you from the interface you can't remove a non-empty folder.  If I go two levels down into the directory hierarch

[2016-02-03 20:16] SamLau95 commented on #25
This is a restriction that Jupyterhub itself puts in, I believe. Might be
more difficult to implement this without someone familiar with the Jupyter
code.
ᐧ

On Wed, Feb 3, 2016 at 12:00 PM, anthonysuen notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley | May 2017
(562) 565-4336 | samlau95@berkeley.edu

[2016-02-03 21:57] ryanlovett commented on #25
I believe that is actually a limitation in Jupyter's ContentsManager. I agree, that behavior is annoying.

Some starting points:
https://github.com/jupyter/notebook/blob/master/docs/source/extending/contents.rst
https://github.com/jupyter/notebook/blob/master/notebook/static/services/contents.js

[2016-02-06 05:55] cboettig commented on #24
hmm, I'm getting 500 error from `hub/admin` when I try to start the server for a student who is getting 503 errors.  Any hints or ideas?

[2016-02-06 07:11] choldgraf commented on #24
hmm, that sounds like a question for Ryan (cc'ing him here). Not sure if
he's on this list.

On Fri, Feb 5, 2016 at 9:55 PM, Carl Boettiger notifications@github.com
wrote:

[2016-02-06 08:21] ryanlovett commented on #24
Here. Can you try deleting any cookies associated with data8.b.e?

I'm going to restart the hub Sunday morning most likely.

Ryan

On Fri, Feb 5, 2016 at 11:11 PM, Chris Holdgraf notifications@github.com
wrote:

[2016-02-06 14:54] cboettig commented on #24
Thanks. No luck after deleting cookies.  I can start or restart my own session fine but this one student account causes jupyter hub to throw a "500 error API call failed"

[2016-02-10 07:42] mads14 commented on #24
A few students in the smart-cities connector class are having server issues, and I cannot seem to fix them.
1. user vvqian is getting 503 error, and I get the "500 error API call failed" when I try to restart her server
2. user lgaytan cannot download new material from git - when she clicks on the link to our demo folder, she gets the message: "error: pathspec 'demos/.ipynb_checkpoints/mini' did n

[2016-02-10 07:55] ryanlovett commented on #24
I see the error with vvqian though I don't understand why it is happening. The hub is trying to start her server in the wrong place -- the hub itself and not the compute nodes. I'll look into it.

What URL is lgaytan clicking on or typing in?

[2016-02-10 08:23] mads14 commented on #24
Thanks Ryan!

The url is: https://data8.berkeley.edu/hub/interact?repo=smart-cities-connector&path=demos
It's been working for all the other students.

[2016-02-10 08:46] ryanlovett commented on #24
I've fixed vvqian's server. I'll look into the other.

For future infrastructure folks:

root@hub1:~# docker --tls -H tcp://127.0.0.1:2376 rm CONTAINER_ID
where the troublesome ID can be found in the logs, e.g.
Found existing container 'jupyter-USER' (id: CONTAINER_ID)

This doesn't explain why the container's IP remained 0.0.0.0.

[2016-02-10 09:05] ryanlovett commented on #24
For lgaytan, I renamed "demos" in smart-cities-connector to "demos.bak". Please have her attempt to refetch the content. If she needs to look at files she previously modified, they can be found in the demos.bak directory.

[2016-02-10 09:06] mads14 commented on #24
@ryanlovett, I just messaged vvqian to let her know it is working. I just got an email back from her that says: "Thank you! Although it did connect for around 2 minutes, the error (500: Internal Server Error) persists"

I am again not able to reset her server. Sorry! And thanks for your help.

[2016-02-10 09:07] mads14 commented on #24
Thanks! Should lgaytan try the link https://data8.berkeley.edu/hub/interact?repo=smart-cities-connector&path=demos.bak, then?

[2016-02-10 09:14] ryanlovett commented on #24
No, she should try the regular link to demos which should pull a fresh copy of the directory. Please let me know if that does not work.

Regarding vvqian, so it was working for two minutes but then failed somehow? I started her container via the admin console and have left it running. Can you have her try again?

[2016-02-10 09:35] mads14 commented on #24
Thanks! I will report back, when I hear from the students.

[2016-02-10 14:12] deculler commented on #24
Thanks all for digging into this.  It's a learning curve process.

Part of the trick is that it is hard to capture the fault.  For example,
just trying things now

https://data8.berkeley.edu/user/culler/notebooks/cs-connector/Lec03-Review.ipynb

gave me a page containing only /hub/home but on a second click after
opening another notebook gave me the proper result.  Over the weekend I was
consisten

[2016-02-10 18:24] ryanlovett commented on #24
I just created [an issue](https://github.com/data-8/jupyterhub-deploy/issues/17) for adding some sort of log monitoring to the deployment.

data8 was offline ~10a-3p Sunday due to issues that prolonged hub restart, including an ORM db error, a faulty node, and a zombie docker process on the provisioner. I plan on restarting the hub this Sunday morning so I can bring up the restuser container. I'll

[2016-02-11 01:53] SamLau95 opened #26 "Write helper to convert repo and folder paths to an interact link"
Basically, we'd like to put a little helper on http://data8.org/connector-instructors so that instructors can input their repo + path(s) and get back a link.

This will help avoid spelling errors and other common mistakes.

[2016-02-11 05:27] pattyf commented on #23
Hi @ryanlovett, do you have an update on this issue? I would like to be able to use these libraries in an exercise on Feb 22. Thanks, Patty

[2016-02-11 08:01] ryanlovett commented on #23
Hi @pattyf, I'm able to install and import the required libraries in a test environment based on the data8 platform. Some of the cells in the notebook did not run because it references paths specific to your computer. I'll clear the additional libraries with John then assuming we've got the green light I'll let you know when your next server start-up will have them.

[2016-02-11 09:06] mads14 commented on #24
Hi again. I can't access my account right now (m.sheehan). It gives a 503 error, but when I try to restart the server from the admin page it gives a 400 server already running error.

Also another student, ralexander, reported an issue similar to the one that lgaytan saw. He get's a message "error: pathspec 'demos/Minilab3' did not match any file(s) known to git." when he tries to access the https

[2016-02-11 09:11] mads14 commented on #24
Mine's back - not sure if you just fixed it, but thanks!

[2016-02-11 09:15] ryanlovett commented on #24
Yes, I fixed it and was going to try starting your server but I saw it was already running.

Someone else had a similar pathspec issue. The workaround there was to backup the demos folder had have the student refetch the files. If ralexander had modified files they could be copied from the backup folder. I'll rename it to demos.bak.

[2016-02-12 00:49] ryanlovett commented on #23
@pattyf: The singleuser server on data8 now contains the osgeo and geopy libraries. GDAL_DATA is /opt/conda/share/gdal. You'll need to stop and start your server to see it. Let me know if it checks out and I'll push it to ds8 as well.

[2016-02-15 18:00] mads14 commented on #24
Hi @ryanlovett, Could you reset annie_wong's account. Restarting her server from the admin page isn't working. Thanks!

[2016-02-15 18:03] mads14 commented on #24
Sorry the username is annie_wang.

[2016-02-15 20:03] ryanlovett commented on #24
Done!

[2016-02-16 01:35] mads14 commented on #24
Thanks! Another request. Can you do the demos.bak fix that you did for a few others for alexeip. He's getting the path issue that others have been getting.

Thanks!

[2016-02-16 01:51] ryanlovett commented on #24
Done. The student can do this in a jupyter terminal via:
`cd ~/smart-cities-connector && mv demos demos.bak`
This means: go to the smart-cities-connector directory and rename "demos" to "demos.bak".

[2016-02-17 03:10] pattyf commented on #23
@ryanlovett GDAL/OGR works great. Ok to close issue. Thanks much!

[2016-02-17 03:14] pattyf opened #27 "Please install Shapely and Pyproj libraries for geospatial connector"
@ryanlovett Please install the shapely and pyproj libraries. See attached notebooks as examples of use. I would like to use these in 2 weeks.

[shapely_pyproj_notebooks.zip](https://github.com/data-8/connector-instructors/files/133633/shapely_pyproj_notebooks.zip)

Thanks much.

[2016-02-17 05:56] ryanlovett commented on #23
Okay, great!

[2016-02-17 05:56] #23 closed

[2016-02-18 17:32] choldgraf commented on #26
Hey - I recently heard about [Binder](http://mybinder.org/), and wanted to give it a shot. It's pretty cool! As a start, I wrote a short notebook that makes url conversion a bit easier (still clunky since you have to open a notebook, but that's not so bad since they'd need to click a URL anyway). All you should need to do is go here:

http://mybinder.org/repo/choldgraf/connector-instructors/ntbk/u

[2016-02-18 19:32] elaine84 commented on #26
@choldgraf this is cool!  I think it's great as an immediate thing that would be useful to instructors.  You might want to try out some more examples, I think there's a bug that doesn't properly handle deeper file paths (e.g., a notebook in a folder in a repo such as https://github.com/data-8/smart-cities-connector/blob/gh-pages/labs_in_progress/Minilab3%20-%20Mapping%20travel%20times.ipynb).

Chr

[2016-02-18 20:24] SamLau95 commented on #26
Binder does look cool!

I agree that we probably want to have a different default file distribution
system.

This notebook looks useful for the time being.
ᐧ

On Thu, Feb 18, 2016 at 11:32 AM, elaine84 notifications@github.com wrote:

##

Sam Lau
EECS | UC Berkeley
Project Mentor | Blueprint, Technology for Nonprofits
_samlau95@gmail.com samlau95@gmail.com_

[2016-02-18 20:32] ryanlovett commented on #26
It'd be good to get Yuvi's feedback since binder uses kubernetes to spawn containers.

The 700 container limit is on mybinder.org's infrastructure. One can deploy the same setup to another set of nodes.

[2016-02-18 20:38] elaine84 commented on #26
Totally agreed, I sent him a link

[2016-02-18 21:00] choldgraf commented on #26
thanks for the thoughts everybody - I agree this is a short-term solution, just something to help people right now and buy time until something more well-thought-out is made.

Regarding Binder, we could also reach out to Jeremy Freeman, as I believe that they've done a lot of the core work on Binder. Though maybe Yuvi is also doing the same?

@elaine84 thanks for finding that bug. I've updated the

[2016-02-19 04:33] SamLau95 commented on #26
Sending it via email sounds good to me.
ᐧ

On Thu, Feb 18, 2016 at 1:00 PM, Chris Holdgraf notifications@github.com
wrote:

##

Sam Lau
EECS | UC Berkeley
Project Mentor | Blueprint, Technology for Nonprofits
_samlau95@gmail.com samlau95@gmail.com_

[2016-03-01 04:26] mads14 commented on #24
@ryanlovett - can you please reset alexeip's account. It is giving the 500: server error, and I cannot reset it from the admin panel.

Thanks!
Maddie

[2016-03-01 04:58] ryanlovett commented on #24
Fixed!

[2016-03-10 23:54] ryanlovett commented on #27
This was done a while back and communicated to Patty. Forgot to close.

[2016-03-10 23:54] #27 closed

[2016-03-12 00:53] pattyf commented on #27
And I forgot to say thank you!
- Patty

On Thu, Mar 10, 2016 at 3:54 PM, Ryan Lovett notifications@github.com
wrote:

##

Patty Frontiera
Academic Coordinator
D-Lab, _Supporting Data Intensive Social Science for All_
356 Barrows Hall, University of California Berkeley
http://dlab.berkeley.edu

[2016-03-12 02:23] ryanlovett commented on #27
No problem. :)

[2016-03-12 21:49] mads14 commented on #24
Hey @ryanlovett  - fhoang7 is getting error 504 - server timeout and I am not able to reset it. Could you try?

Thanks!

[2016-03-12 21:49] ryanlovett commented on #24
ds8 or data8?

[2016-03-12 21:50] mads14 commented on #24
data8

[2016-03-12 21:54] ryanlovett commented on #24
I just reset it. It was running so I stopped, started, then stopped again.

[2016-03-12 22:04] mads14 commented on #24
Great! Thank you! I had tried the same, but it didn't work for me. I also got a timeout error.

[2016-03-14 03:47] mads14 commented on #24
@ryanlovett, could you reset talitha.mcadams account when you get a chance? Thanks!

[2016-03-14 03:55] ryanlovett commented on #24
Done!

[2016-03-14 20:23] mads14 commented on #24
Thanks! Sorry for all the requests - can you reset my account: m.sheehan. I'm locked out and cannot reset it from the admin.

[2016-03-14 20:46] ryanlovett commented on #24
Fixed. The error you were seeing should have been fixed a couple of weeks ago. I'll investigate.

[2016-04-07 17:32] cboettig opened #28 "add a postgresql python module (psycopg2?) to data8 server?"
Could we get a postgresql module added to the servers?  `psycopg2` seems to be what comes up when I google but I'm open to suggestions (still thrilled with @ryanlovett 's suggestion to use `requests` instead of `urllib`/`urllib2`)

It's not essential as I'm not actually teaching SQL queries and can always extract the data into `csv`s beforehand for students, but I prefer to at least illustrate whe

[2016-04-07 18:27] ryanlovett commented on #28
If you want to demonstrate making a connection to a database then sqlite3 would be easiest. If you want to really connect to a remote database then you'll need the postgres or mysql modules. Python [abstracts](https://www.python.org/dev/peps/pep-0249/) database connections so theoretically the API should be the same for local or remote dbs.

[2016-04-07 19:09] cboettig commented on #28
thanks, yeah this data is already available in postgresql format so it would be nice to use that module.

[2016-04-07 19:43] ryanlovett commented on #28
Okay, will look into it.

[2016-04-08 09:01] ryanlovett commented on #28
I've installed it on data8. If it looks okay to you I'll push it to ds8 as well. Remember to stop/start your server.

[2016-04-08 09:02] ryanlovett commented on #28
I just remembered that there may be firewall restrictions (possibly egress) associated with Azure. I'll take a look tomorrow.

[2016-04-15 01:29] ryanlovett commented on #24
The source of all of these issues was fixed by jupyterhub 0.5. It was a race condition exacerbated by the different conditions at azure. data8 now has 0.5 and we will upgrade ds8 at the end of the semester.

[2016-04-15 01:29] #24 closed

[2016-04-19 00:00] pattyf opened #29 "Please install pysal library"
Hi @ryanlovett,
Pysal (python spatial analysis library) is now available for python 3. Could you please install it on data8/ds8 jupyter servers?  We likely won't use it for a class exercise but I would like to demo it. If you can't get to it that is fine, I can plan for a future semester.  Thanks! Patty

[2016-04-19 05:06] deculler commented on #24
David E. Culler
Friesen Professor of Computer Science
Electrical Engineering and Computer Sciences
University of California, Berkeley

---------- Forwarded message ----------
From: David CULLER <culler@berkeley.edu>
Date: Tue, Apr 19, 2016 at 7:04 AM
Subject: Fwd: Data bears logo
To: Cathryn CARSON <clcarson@berkeley.edu>, Ani ADHIKARI <
adhikari@berkeley.edu>, WAI HUNG SUEN <anthonysuen@berkeley.

[2016-04-19 06:46] ryanlovett commented on #29
Done, version 1.11.1.

[2016-04-19 06:46] #29 closed

[2016-04-19 16:27] pattyf commented on #29
@ryan thanks so much! super fast of you.

[2016-12-07 02:21] choldgraf opened #30 "list of domain-general tutorial notebooks"
These could be used by various connectors who want a quick tutorial on things like debugging, dealing with packages, reading error messages, etc.

[2016-12-07 02:22] choldgraf opened #31 "Integrate some grading infrastructure"
E.g. nbgrader or okpy

Need to figure out what kind of barrier to entry there is for connector instructors.

[2016-12-07 02:57] choldgraf commented on #30
* tutorial on debugging is in the DS Connector google drive folder

[2016-12-14 18:22] choldgraf opened #32 "Update the README / docs"
* How to install docker (see https://github.com/data-8/data8-notebook)
* Point instructors to generalist lectures / tutorials in repo
* Short "best practices in connector class structure" guide
* Memory management / reminding instructors and students to restart the kernel or their whole jupyterhub session
* Case studies in connector courses?

[2016-12-20 00:16] pattyf commented on #32
It would be great if the docker instructions could indicate how to
- update docker (it asks me every day to update, should I?)
- update the data8 files in docker (how to keep in sync with any changes to the repo?)
- stop and restart or just run in the background docker.
- who to contact with questions/problems and how - email? slack? github issue?

Information about data management would also be h

[2016-12-20 02:16] choldgraf commented on #32
this is a good list - thanks for adding! Can you think of any other connector instructors to send this to? Any thoughts from the community would be helpful.

[2016-12-20 17:54] pattyf commented on #32
Hi Chris,

I would also send it to Carl Boettiger, Carl Mason, Maddie Sheehen, Dennis
Feehan and ShiShi Luo.  They all had good ideas.

best,
Patty

On Mon, Dec 19, 2016 at 6:16 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Patty Frontiera, PhD
D-Lab, *Supporting Data Intensive Social Science for All*
356 Barrows Hall, University of California Berkeley
http://dlab.berkeley.edu

[2016-12-21 18:15] cboettig commented on #32
@choldgraf @pattyf great list above.  Nice examples with the `connector-tools` as well.  Maybe also add something on possible submission workflows jupyter notebooks in homework?

[2016-12-21 18:29] choldgraf commented on #32
that's a good idea - I was thinking of learning a bit more about nbgrader and having some sample workflows here (or maybe contributing back to the nbgrader docs). Have you looked into it at all?

[2016-12-21 18:56] cboettig commented on #32
Right, some nbgrader examples would be nice, though I found it wasn't useful to me.  I tend to ask somewhat more freeform questions where there are enough different ways to answer that there's no way I could write an automated test to check the questions.  (I find this is necessary because I want questions that let more experienced students push their skills but leave room that anyone can give som

[2016-12-21 19:09] choldgraf commented on #32
Yeah, I spoke with Jess about this and she mentioned that you can use nbgrader more / less modularly (at least for some things). E.g., there's a "grade manually" button that doesn't try to do any auto-grading, but you can still use nbgrader for generating student copies etc.

Actually, the reasons you gave were the reasons I developed `connectortools` in the first place. It seemed that many folks

[2016-12-21 20:41] cboettig commented on #32
yeah, the `connectortools` examples are awesome; like you read my mind.  Good point, if `nbgrader` streamlines the submission / grading / tracking grades / returning assingments process for students and the actual grading is just done in manual mode, that might still be ideal.  Haven't tried `nbgrader` but adding some instructions to that effect would be great.

[2016-12-22 03:50] choldgraf commented on #32
Cool - I'll spend some of the break playing with nbgrader and I'll try to get a feel for how intuitive / useful it would be in a limited sense for the connectors

[2016-12-28 23:32] dfeehan commented on #32
@choldgraf thanks for your email. I completely agree with others on this thread that it would be great to have a smooth way for students to submit notebooks; I had them submit pdfs to Bcourses, and that didn't really work very well. They were often cut off, not fully rendered, etc. Pushing to github sounds promising

I also agree that workflows for automated grading would have been super useful.

[2016-12-29 00:52] choldgraf commented on #32
Thanks for your thoughts @dfeehan, I'm playing around with `nbgrader` right now to see if there's a decent way to work out auto-grading  using this package without doing the full stack of `nbgrader`, that might be useful for folks. Re: your other points I'll add them to the list!

[2016-12-30 01:55] SamLau95 commented on #32
re nbgrader:

Unfortunately, I'm not sure nbgrader will work out-of-the-box on the new deployment we're using on Kubernetes.

I believe the problem is that nbgrader assumes that both students and instructors share the same filesystem and can thus access each others' files. However, on the new deployment that is planned for Spring 2017's Data 8 each user's filesystem is completely separate. @ryanlo

[2016-12-30 02:21] choldgraf commented on #32
what I've been looking into is the extent to which nbgrader can be used in a modular fashion. e.g., "I want to use auto-grading, but I don't want to use an nbgrader server".

I spoke with the guy doing okpy and he seemed unclear whether that'd be used in data8 or not...good to hear that has been cleared up. Though it seemed at the time that notebook support was kinda clunky. Is that getting fixed

[2016-12-30 04:49] SamLau95 commented on #32
Gotcha. That seems very reasonable to me.

I believe so. Sumukh, the okpy person, says:

[2016-12-30 07:50] ryanlovett commented on #32
Yes, that is true. A separate server could have shared read access, but not write. There would have to be a separate step where files are copied out of each student's workspace and into a location writable by the grader.

[2017-01-03 04:55] choldgraf commented on #32
also w/r/t nbgrader, you could technically run it on its own separate from the common server. E.g. you could have students upload to bcourses event, and if you wanted you could download them in bulk, move them to a specific folder, and then run autograding on that.

[2017-01-04 18:04] choldgraf commented on #32
Also FYI I just updated the `connectortools` module so that it works more smoothly with nbgrader. At this point it's actually calling `nbgrader` under the hood with each step, but doesn't rely on the nbgrader server etc. kinda neat!

Give the example notebooks a shot and let me know how it goes!

[2017-01-04 18:04] choldgraf commented on #32
and @dfeehan, I cause the markdown solution function to give student prompts in red by default, that should make it harder for them to miss (e.g. see the notebooks in `examples`)

[2017-01-20 00:21] choldgraf opened #34 "Update technical information in this repository + moving stuff to a wiki"
Before the new semester starts we need to do these things:

## General
- [ ] Update all technical information (links, instructions, etc) so that they're correct with the current setup of jupyterhub etc.
- [ ] Throughout all of the wiki, change `data8` to `datahub`
- [x] Migrate content to a wiki so that the "code" and "conceptual" components of this repository are nicely separated.
- [x] Update th

[2017-01-20 00:23] ryanlovett commented on #34
No problem, just email me your availability.

[2017-01-20 00:53] choldgraf commented on #32
closing this so that we can open more specific issues that this mega-one. All conceptual material is now in the repository wiki, so check that out and make edits / open issues to make suggestions as you like!

[2017-01-20 00:53] #32 closed

[2017-01-20 00:53] choldgraf commented on #28
This issue seems to be more appropriate in a different data8 repo. Mind if I close it so that it can be discussed there?

[2017-01-20 00:55] choldgraf commented on #26
there's a function to do this quickly in the `connectortools` module (though it may need to be updated for new course infrastructure) as well as a binder notebook to demo it, so I'm closing this. If we'd like a more interactive solution (e.g., a tiny javascript app) let's open the issue again if the need arises.

[2017-01-20 00:55] #26 closed

[2017-01-20 00:56] choldgraf commented on #25
This issue seems to be better in a different data 8 repository than this one. Mind if I close it so it can be opened elsewhere?

[2017-01-20 00:56] #5 closed

[2017-01-20 00:56] #4 closed

[2017-01-20 00:57] choldgraf commented on #22
Damn I'm just now seeing this (a year later). These are good suggestions @cboettig and they've been implemented in the last month (more or less). More conceptual stuff is now in the site wiki, and  it's broken down by page rather than being in one mega-doc. Please keep adding suggestions etc in the future, I think this repo will be checked / used more frequently from here on.

[2017-01-20 00:57] #22 closed

[2017-01-20 15:21] clcarson commented on #34
### Things to add that would help connector instructors

**Creating connector servers**  (@ryanlovett ? @choldgraf ?)

- How do we explain to instructors how they can get a connector server (or hub?) set up?
- What can they get?
- How do they ask for it?
- What do their students need to do in order to get accounts?

This seems to come even before workflow. I'd love to have this info ready to send

[2017-01-20 16:35] choldgraf opened #35 "Removing website materials from connector-instructors master branch"
I see there is also a gh-pages branch in the conncetor-instructors repo. I assume that's hosting the website content. @anthonysuen is it OK if I delete all the CSS, `index.html` etc pages from the master branch?

[2017-01-20 16:36] choldgraf commented on #34
Thanks for the suggestions @clcarson, @ryanlovett and I will meet today and we can hash out any details that I'll then add to the wiki.

Once all the information is up there, I'll ping this issue again so that people can give feedback on organization etc.

[2017-01-20 19:18] anthonysuen commented on #35
Yep feel free to do so. Where would be put all the information in the future. The wiki?

[2017-01-20 19:33] choldgraf commented on #35
it should still be in the `gh-pages` branch...the master branch isn't used for the website anyway.

[2017-01-20 22:38] choldgraf commented on #34
ok, @ryanlovett and I had a meeting and have considerably added to the list above. I'll try to step through most of this by the end of the weekend so that it's ready to go by Monday. When that's done, it'd be great if some people could take a look through what's there and make edits / rearrangements as they like.

[2017-01-22 22:09] choldgraf opened #36 "Add a short guide to docker"
From Patty's suggestion:

It would be great if the docker instructions could indicate how to
- How to install docker (see https://github.com/data-8/data8-notebook)
- update docker (it asks me every day to update, should I?)
- update the data8 files in docker (how to keep in sync with any changes to the repo?)
- stop and restart or just run in the background docker.
- who to contact with questions/

[2017-01-22 22:12] choldgraf opened #37 "Add explanation of the jupyterhub setup"
This could go in the [tech infrastructure](https://github.com/data-8/connector-instructors/wiki/Technical-Infrastructure) section of the wiki. It would describe the hardware setup we use (e.g., azure cluster, n_machines etc), and the software that we use to handle the container system (e.g., kubernetes, docker, jupyterhub, etc). Similar to Sam's scipy 2016 talk.

[2017-01-22 22:22] choldgraf opened #38 "Update contact information"
See here: https://github.com/data-8/connector-instructors/wiki/Contacts

[2017-01-22 22:24] choldgraf commented on #34
Hey everybody, I've updated several of the sections in the wiki, and have added github issues for outstanding issues. Let's take commentary on those specific points to their respective issues, and I'm going to close this thread for now.

The documentation is in a more-or-less ready state for new instructors. But it'd be great if folks could take a look through it and make edits as needed.

[2017-01-22 22:24] #34 closed

[2017-01-22 22:58] pattyf opened #39 "interact links on datahub not working for me"
Hi @choldgraf,
I've been reading the Workflow Wiki which shows how to create an interact link. However, I cannot get interact links for my connector repo to work on datahub. This following gives me a "this site can't be reached" error:
https://datahub.berkeley.edu/user-redirect/interact?repo=geospatial-connector&path=drafts1/geoparsing

But the url syntax from last year still works:
https://data8.

[2017-01-22 23:41] choldgraf commented on #39
@SamLau95 @ryanlovett has the interact link behavior changed at all? any idea what's going on?

[2017-01-22 23:41] choldgraf commented on #39
@pattyf thanks for pointing all of this out, many of the links haven't been updated yet and we're working on getting this done currently

[2017-01-23 00:18] ryanlovett commented on #39
Your link is nearly correct. Just change https to http and you should be fine.

http://datahub.berkeley.edu/user-redirect/interact?repo=geospatial-connector&path=drafts1/geoparsing

[2017-01-23 00:20] choldgraf commented on #39
will `https` not work any more?

[2017-01-23 00:23] ryanlovett commented on #39
Not at the moment. We will either use Let's Encrypt to dynamically provision SSL certs, or use kubernetes' secrets to hold pre-existing certs.

[2017-01-23 00:24] choldgraf commented on #39
ok good to know - the `url_to_interact` function was currently using `https`

[2017-01-23 00:29] pattyf commented on #39
Thanks! that works.

Patty

On Sun, Jan 22, 2017 at 4:18 PM, Ryan Lovett <notifications@github.com>
wrote:

--
Patty Frontiera, PhD
D-Lab, *Supporting Data Intensive Social Science for All*
356 Barrows Hall, University of California Berkeley
http://dlab.berkeley.edu

[2017-01-23 00:31] choldgraf commented on #39
@pattyf , where did you find the mybinder link that you mentioned in the first post?

[2017-01-23 00:32] pattyf commented on #39
It was in the Workflow wiki.

On Sun, Jan 22, 2017 at 4:31 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Patty Frontiera, PhD
D-Lab, *Supporting Data Intensive Social Science for All*
356 Barrows Hall, University of California Berkeley
http://dlab.berkeley.edu

[2017-01-23 00:34] choldgraf commented on #39
great - thanks for letting me know...it's hard to find all of the old links so I have certainly missed some!

[2017-01-23 00:42] choldgraf commented on #39
can I close this issue?

[2017-01-23 01:00] pattyf commented on #39
One thing before you close. Can you link my workflow doc to the bottom of
the Workflow wiki as an alternative approach?

Thanks,
P

On Sun, Jan 22, 2017 at 4:42 PM, Chris Holdgraf <notifications@github.com>
wrote:

--
Patty Frontiera, PhD
D-Lab, *Supporting Data Intensive Social Science for All*
356 Barrows Hall, University of California Berkeley
http://dlab.berkeley.edu

[2017-01-23 01:24] choldgraf commented on #39
you can paste a link here? then I'll do it

[2017-01-23 05:58] clcarson opened #40 "edits needed on wiki pages"
These are mostly for @choldgraf and @ryanlovett.

### Home
What exactly is "the connectortools module"? It's mentioned, but I don't think it's explained.
- Is it just the code in https://github.com/data-8/connector-instructors? Or the particular "connectortools" folder in there?
- Should we make a list of what's available in "the connectortools module"? Would that go under Software Resources? Or s

[2017-01-23 06:02] clcarson commented on #38
I think I did this.

[2017-01-23 06:31] clcarson opened #41 "Where do we provide overall info about connector resources"
Currently in
https://docs.google.com/spreadsheets/d/1gcJ_zkvkbVzOu1z1HFtIKRAfczcA5QaELNBkvcTwRLM/edit?ts=587e91b6#gid=0

[2017-01-23 06:53] clcarson opened #42 "Grading resources"
Where do we describe resources for grading?

@yuvipanda wrote in an email

I am also in contact with the wonderful folks who build and maintain the ok server (which data8 now uses for grading, tests, and other course support) about writing an OK authenticator. This would make it easy for other connectors to use the same tools that John uses for his courses, and also to limit access based on roster

[2017-01-23 06:57] yuvipanda commented on #42
I know that @sumukh talked about the grading http://okpy.org/ offers, and that's what data8 uses. I've not personally used it myself, however.

[2017-01-23 17:09] choldgraf commented on #38
that looks great, thanks @clcarson ...I'll close this issue and we should remember to update things as personnel etc change

[2017-01-23 17:09] #38 closed

[2017-01-23 17:11] choldgraf commented on #42
the connectortools module does some of this. I was thinking of building out the grading stuf more, but wasn't sure whether there would be a commitment to OKpy or not.

Once we have an idea for a possible grading workflow, we should write up the kind of page that @clcarson describes in the top comment. I just haven't put anything in writing because I'm not sure that we've established a "best practi

[2017-01-23 17:12] choldgraf commented on #41
wow that's a great doc - I'd never seen it before. We could easily link to it from the wiki, or if you think it should be stored on the wiki itself, perhaps in the `contacts` page? And maybe with a link on the home page as well?

[2017-01-23 17:24] choldgraf commented on #40
looking through this now

re: the tables demo, @SamLau95 or @ryanlovett do you know where this link should point to?

[2017-01-23 17:26] choldgraf commented on #40
re: standardizing terms, I think this is a great idea but I don't want to do it all on my own, since I think we should have some kind of consensus. Maybe we can discuss this in a next meeting. I agree the terminology is confusing

[2017-01-23 17:31] choldgraf commented on #40
re: software, yeah I think that's a good idea to explain the `datascience` package here. I didn't put that in yet because I don't really use it (we stopped using it in our connector more-or-less). At the least, we should have links to the relevant documentation for both it and `connectortools`, since they are described elsewhere already.

[2017-01-23 17:32] choldgraf commented on #40
re: technical infrastructure, I imagined that it would not be in the sidebar, since it's probably more technical information than most people care about. Eventually it should detail the full hardware stack for jupyterhub etc, and would be more of a place we can point people to if they want to know about the guts of the setup. Is that OK?

[2017-01-23 17:33] choldgraf commented on #40
re: nomenclature on main course, should we call it `data 8` or `foundations course`? What do you prefer?

[2017-01-23 17:33] choldgraf commented on #40
Also, let me know at what point the new person is going to get involved. I can keep maintaining these docs and helping etc, but we should really get them involved in these decision points once its appropriate IMO

[2017-01-23 17:34] choldgraf commented on #39
gonna close this issue but please paste a link @pattyf and then I'll add it to the workflows page

[2017-01-23 17:34] #35 closed

[2017-01-23 17:38] choldgraf commented on #31
closing in favor of #42

[2017-01-23 17:38] #31 closed

[2017-01-23 18:25] clcarson commented on #42
The student infrastructure team (Steve Wu) has elements to add in here (grading infrastructure, bCourses). I've asked @anthonysuen and @gunjanbaid to guide them in producing a draft, testing the tools, and getting leadership buy-in before putting on the wiki.

[2017-01-23 18:26] choldgraf commented on #42
sounds great - we can leave this issue open until it's time to integrate that info into the wiki. Until then, I'll keep my little grading functions in there in the hopes that they'll be useful to some connectors.

[2017-01-23 18:26] clcarson commented on #41
Agreed, waiting to finalize it with @anthonysuen and his team. This is tied into where we put the Connector Assistant info.

[2017-01-23 18:30] clcarson commented on #40
I think it will be @gunjanbaid in the lead, but we haven't totally got it lined up.

I see why it's better to put in separate small issues than one big one. :)

[2017-01-23 18:34] gunjanbaid commented on #40
Hi @choldgraf! I'm onboarding this week so will be more involved in the coming days.

[2017-01-23 19:32] pattyf commented on #39
Here is my link. Thanks @choldgraf
https://github.com/data-8/geospatial-connector/blob/gh-pages/notes/new_notebook.md

[2017-01-23 19:41] choldgraf commented on #39
cool - new edits here:

https://github.com/data-8/connector-instructors/wiki/Workflow

[2017-01-23 19:47] pattyf opened #43 "Add links section to Wiki"
I would find it helpful to have a links section in the Wiki side menu. There are lots of URLs within the Wiki pages but would be good to have quick reference.

Also, I would add a reference to the datascience package documentation (http://data8.org/datascience/) in the Course Software wiki.

[2017-01-23 19:56] anthonysuen commented on #41
I agree that we should store this on the wiki contact page and somewhere on the main page too.

Anthony

[2017-01-23 20:43] choldgraf commented on #42
I added a quick auto-running function and example here:

https://github.com/data-8/connector-instructors/blob/master/examples/grade_student_notebooks.ipynb

LMK if that'd be useful or if you have thoughts. This isn't a grading solution by a long shot, but should make it more convenient for people to run student notebooks in batches.

[2017-01-23 22:17] pattyf opened #44 "More guidance re: how to create student notebooks"
Hi @choldgraf , following your example notebook [create_student_notebooks.ipynb](https://github.com/data-8/connector-instructors/blob/master/examples/create_student_notebooks.ipynb) I tried to create a student version of a notebook with an answer key on datahub.berkeley.edu but was unsuccessful. It cleared the output but didn't remove the code between ### SOLUTION BEGIN and ### SOLUTION END.  I th

[2017-01-23 22:51] choldgraf commented on #44
Hey @pattyf - I think a solution will be for me to create some interact links and make sure the demos work there as well. I'll put some time into this soon

[2017-01-24 00:27] choldgraf commented on #39
hey @ryanlovett , can you show me the proper interact URL to pull the whole `connectortools` module into a datahub instance? It seems that the interact link function isn't working.

Here's the link for the repo: https://github.com/data-8/connector-instructors

I'm trying this:
http://datahub.berkeley.edu/user-redirect/interact?repo=connector-instructors&path=/

but it either returns an error or ha

[2017-01-25 16:44] choldgraf opened #45 "Make data8.org/connector-instructors redirect to the wiki"
Hey all - since the wiki is the main source of information and landing page for the connectors, can we make:

`http://data8.org/connector-instructors/`

redirect to:

`https://github.com/data-8/connector-instructors/wiki`

?

This will also allow instructors to get the repository by using an interact link.

[2017-01-25 16:44] choldgraf commented on #45
maybe @SamLau95 or @anthonysuen know how to do this

[2017-01-25 23:36] SamLau95 commented on #45
Yeah, you'll want to stick an `index.html` in the root of the `gh-pages` branch, then have that HTML page make the redirect. http://stackoverflow.com/questions/5411538/redirect-from-an-html-page

[2017-01-31 00:25] choldgraf opened #46 "Add `nbgrader` as a default package in the cluster"
hey @ryanlovett can we add `nbgrader` to the docker image for the cluster? That way connector instructors can use the `connectortools` module on datahub.

[2017-01-31 00:30] choldgraf commented on #46
also note that this should should be whatever is in the latest master, not necessarily on `pip`, depending on when that was last updated

[2017-01-31 00:41] choldgraf commented on #45
using `meta` for the redirect was causing it to go into a loop, so I've just made the readme a little clearer and will use that as a landing page. People can go from there.

[2017-01-31 00:43] #45 closed

[2017-01-31 00:43] choldgraf commented on #39
OK I think this is fixed on the `datahub` side of things as well as in `connectortools`. Ping here if that's not the case.

[2017-01-31 00:43] #39 closed

[2017-01-31 00:49] choldgraf commented on #44
hey all - the `connectortools` module is now updated and it should work if you click on the `interact` link that's provided on the `connectortools` README page. One caveat is that you'll need to install `nbgrader` in order to get this to work. You should be able to do this with `pip install`, and I've added a quick helper cell in the `index.ipynb` notebook to do this on a machine. In the future I

[2017-01-31 01:39] #28 closed

[2017-01-31 01:45] choldgraf commented on #46
for now I added a pip install to the `index.ipynb` notebook, which should work OK

[2017-01-31 02:09] ryanlovett commented on #46
Regarding:

Would it be sufficient for us to use nbgrader's latest commit hash? We want to avoid underspecifying versions since that isn't reproducible.

[2017-01-31 02:15] choldgraf commented on #46
actually I just tried pip-installing and that worked fine, so that works

[2017-01-31 22:37] choldgraf opened #47 "`error: Request Entity Too Large`"
Some of our students were getting this error when their notebook was trying to auto-save:

`error: Request Entity Too Large`

Is this because the notebooks themselves are too large? There doesn't seem to be anything gigantic in  terms of plots etc. Any ideas?

@ryanlovett

[2017-01-31 22:52] ryanlovett commented on #47
This is related to https://github.com/yuvipanda/jupyterhub-nginx-chp/pull/9. I'll investigate.

[2017-02-01 18:02] choldgraf commented on #47
cool - want me to close this issue since you're already discussing elsewhere?

[2017-02-01 18:03] choldgraf commented on #46
I'll close this for now, since most instructors should be able to figure it out from the index.ipynb notebook...but LMK when you're able to get nbgrader on the cluster so I can remove that code

[2017-02-01 18:03] #46 closed

[2017-02-01 18:04] choldgraf commented on #42
hey all - so is there anything actionable in this thread at this point? Do we want to continue having a grading infrastructure conversation here? Or shall we post-pone that and close this issue if it's happening elsewhere?

[2017-02-01 18:04] choldgraf commented on #41
@anthonysuen are you + your team transferring this information (or at least the link) to the wiki?

@gunjanbaid if this is something you've changed, ping us in this (or other) issues so that we know to close them!

[2017-02-01 18:05] #25 closed

[2017-02-01 18:06] choldgraf commented on #43
@gunjanbaid is this something you can address w/ Patty?

[2017-02-01 18:08] choldgraf commented on #40
I've updated @clcarson 's comments so that they're checkboxes now instead of bullet points. @gunjanbaid can you take a look and we can make sure these suggestions are addressed and checked off?

[2017-02-01 18:38] ryanlovett commented on #47
No, please leave this open.

[2017-02-01 18:42] ryanlovett commented on #47
The default size is 256 MB. Can you locate an .ipynb file which causes this? Then run:
[code]
This will report the file size in bytes.

[2017-02-01 18:49] choldgraf commented on #47
I just tried it and this was the output after breaking (I just called
imshow a bazillion times until it stopped autosaving): 987639
--

On Wed, Feb 1, 2017 at 10:42 AM Ryan Lovett <notifications@github.com>
wrote:

[2017-02-01 18:51] ryanlovett commented on #46
https://github.com/data-8/jupyterhub-k8s/commit/48034b24990402f20f47534f8019202291643c4a

Will post when it is pushed to cluster.

[2017-02-01 19:02] gunjanbaid commented on #41
I updated the contacts page to refer instructors to their CAs and the Piazza and removed individual staff emails. I can link this document on that page as well, if that's desired.

[2017-02-01 19:08] gunjanbaid commented on #43
I can definitely add these things in! I'll have both of those changes added by the end of today.

[2017-02-01 19:59] ryanlovett commented on #47
Okay, thanks. The version of nchp we've got on the proxy is not new enough which is why you're seeing this problem.

[2017-02-01 20:58] ryanlovett commented on #47
This is also causes a problem when one tries to use Upload to send a large file.

[2017-02-02 09:01] gunjanbaid commented on #43
Both changes have been made! Links [here](https://github.com/data-8/connector-instructors/wiki/Links) and datascience documentation [here](https://github.com/data-8/connector-instructors/wiki/Software-Resources) (towards the end of the page). I'll keep adding to the links page.

[2017-02-02 09:01] #43 closed

[2017-02-02 18:25] choldgraf commented on #46
+1

[2017-02-02 18:25] choldgraf commented on #41
Sounds good. @clcarson what do you think?

[2017-02-02 18:26] choldgraf commented on #47
Ah I see - let me know when that's updated (or if it can't be updated, let me know so that I can add a note to the instructor guide)

[2017-02-02 20:32] gunjanbaid commented on #40
@choldgraf I updated the Tables demo link, pretty sure that's supposed to point to materials in Prof. Culler's repo.

@clcarson Are we sticking with the term "connector associates" or "connector assistants?" I see uses of both in the wiki so just want to make sure those are uniform.

[2017-02-02 20:58] aivanoff commented on #40
Gunjan,

I think we are going with Connector Associates, but this is a somewhat
ongoing discussion.

-Alexander Ivanoff

On Thu, Feb 2, 2017 at 12:32 PM, Gunjan Baid <notifications@github.com>
wrote:

--

Alexander Ivanoff

BA: Statistics, Cognitive Science

aivanoff@berkeley.edu

M: (206)-841-3097

https://bids.berkeley.edu/

[2017-02-02 22:01] anthonysuen commented on #40
Connector Associates is the formal name for the program.

Anthony

On Thu, Feb 2, 2017 at 12:58 PM, aivanoff <notifications@github.com> wrote:

--
Anthony Suen
Moore Sloan Data Science Fellow
Berkeley Institute for Data Science
<http://vcresearch.berkeley.edu/datascience/overview-berkeley-institute-for-data-science>
190 Doe Library
UC Berkeley
Berkeley, CA 94720-2190

[2017-06-23 20:27] anthonysuen opened #48 "Rewrite parts of wiki to make it user intutitive."
Three Steps

Upload Notebook on Github -> Interact Link -> Distribute via Bcourses, website, etc.

[2020-05-30 16:01] Megafactor opened #49 "Submit button missing on Jupyter notebook"
I have done my assignment, but there is no "submit" button on top of the toolbar. I have tried to reload the lab many times, the "submit" button is still not there.
<img width="1222" alt="Screen Shot 2020-05-31 at 12 00 48 AM" src="https://user-images.githubusercontent.com/61077406/83333163-db570800-a2d1-11ea-9a88-2fad3a1f62dd.png">

Anyone can help?

[2020-05-31 09:36] #49 closed